
// -------------- NAVIGATION --------------

// Universal Nav Styling

nav {
	display: flex;
	-webkit-display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

// NAV LOGO

.nav-logo img {

	@media all and (max-width: 480px) {
		width: 70%;
	}
}

// NAVIGATION LINKS 

.nav-links {
	width: 70%;

	display: flex;
	-webkit-display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;

	@media all and (max-width : 768px) {
		display: none;
        position: absolute;
        top: 45px;
        right: 50px;

        padding: 0 0 15px 0;
        width: 40%;
	}

	@media all and (max-width : 480px) {
		right: 60px	
	}
}

.nav-a {
	width: 85%;
}

.nav-b {
	width: 7%;
}

.nav-links ul  {
	display: flex;
	-webkit-display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-webkit-justify-content: space-between;

	padding: 0;

	@media all and (max-width : 768px) {
		
		flex-direction: column;
		-webkit-flex-direction: column;
		justify-content: space-between;
		-webkit-justify-content: space-between;

		text-align: right;
	}
}

.nav-links .nav-b {
	@media all and (max-width : 768px) {
		display: none;
	}
}

nav li {
	list-style-type: none;
	margin: 0;

	@media all and (max-width : 768px) {
		padding: 0 0 15px 0;
	}
}

nav li a {
	color: $highlight-color;
	text-decoration: none;
	font-family: $main-font;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 0 0 25px 0;

	&:hover {
		border-bottom: 2px solid $tertiary-color;
	}

	@media all and (max-width : 768px) {
		font-size: 24px;
		padding: 0
	}

	@media all and (max-width : 480px) {
		font-size: 20px;
	}
}

// Shopping & Search Icons 

.nav-dropdown i {
	font-size: 10px;
	color: $highlight-color;
	padding: 0 0 0 20px;

	@media all and (max-width : 768px) {
		display: none;
	}
}

// DROPDOWN NAVIGATION 

.hamburger {
	display: none;
	text-align: right;
	margin-right: 20px;
	margin-top: 15px;
	cursor: pointer;

	@media all and (max-width : 768px){
		display: block;
	}

	@media all and (max-width: 480px) {
		margin-top: 9px;
	}
}

.visible {
	display: block;
}

// DROPDOWN ANIMATION 

$bar-width: 35px;
$bar-height: 5px;
$bar-spacing: 10px;

.hamburger {

	width: $bar-width;
	height: $bar-height + $bar-spacing*2;
	cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  	width: $bar-width;
	height: $bar-height;
	border-radius: 5px;
}

.bar {
	position: relative;
	transform: translateY($bar-spacing);
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: rgba(255, 255, 255, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}